body {
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Roboto", sans-serif;
}
#container {
  display: flex;
  flex-direction: column;
  width: 360px;
  background: rgb(5, 145, 238);
  margin: 0 auto;
  border: 2px solid rgb(58, 154, 233);
  margin-top: 200px;
  box-shadow: 8px 8px 8px rgba(12, 10, 10, 0.9);
}
.completed {
  color: rgb(250, 30, 50);
  text-decoration: line-through;
}
#result {
  text-align: left;
  margin-left: 10px;
}
#btn1 {
  background-color: rgb(19, 31, 202);
  color: white;
  width: 100px;
  margin: 0 auto;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}
button:hover {
  cursor: pointer;
}
.supprimer {
  border-radius: 5px;
  background: rgba(158, 11, 11, 0.918);
  color: white;
  width: 0;
  transition: 0.2s linear;
  opacity: 0;
}
input {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(9, 9, 94);
  padding: 13px 13px 13px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid black;
}
input:focus {
  background: cornsilk;
  border: 3px solid #2980b9;
  outline: none;
}
#container h1 {
  text-align: center;
}
li {
  margin-bottom: 10px;
  background-color: #fff;
  height: 40px;
  text-align: left;
  font-size: 20px;
  font-weight: 900;
  padding-top: 10px;
}
li:nth-child(2n) {
  background: #f8f8f8;
}
.supprimer:hover {
  opacity: 1;
  width: 40px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  background: #155799;
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  padding: 10px 20px;
  margin-bottom: 30px;
}
/* utiliser rem ou vh en unité de mesure */
